/*** GLOBAL ***/

* {
	box-sizing: border-box;
	margin: 0;
	color: black;
	font-family: "Arial", sans-serif;
}
html, body {
	height: 100%;
}
.main-content {
	padding: 0 20px;
}
.push {
	height: 70px;
}
.wrapper {
	min-height: 100%;
	margin-bottom: -70px;
}
h1 {
	margin-bottom: 1em;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/*** HEADER ***/

header {
	width: 100%;
	background-color: #14597f;
	border-bottom: solid 1px #0b2d3d;
	margin-bottom: 2em;
}
header div {
	padding: 0 20px;
	max-width: 1200px;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}
header ul {
	list-style: none;
}
header ul li {
	display: inline;
	margin: 0.3em;
}
header a {
	text-decoration: none;
	color: white;
	height: 100%;
}
header a>img {
	max-height: 100%;
}
header .active {
	padding: 0.5em;
	background-color: #1fb5e9;
	border-radius: 4px;
}
header .fa-shopping-cart {
	color: #14597f;
}
.count {
	width: 25px;
	height: 25px;
	display: inline-block;
	color: white;
	background-color: #d9534f;
	padding: 0.25em;
	border-radius: 50px;
	position: relative;
	bottom: -18px;
	right: 15px;
	text-align: center;
}

/*** FOOTER ***/

footer {
	width: 100%;
	height: 70px;
	text-align: center;
	background-color: #eeeeee;
	border-top: solid 1px #cccccc;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*** INDEX ***/

#home-img {
	float: right;
}
.bouton {
	color: white;
	padding: 0.5em;
	text-decoration: none;
	background-color: #14597f;
	border: solid 1px #0b2d3d;
	border-radius: 4px;
}
.bouton:hover {
	background-color: #1fb5e9;
	transition: ease-out 0.2s;
}

/*** PRODUCTS ***/

#products-aside {
	flex-basis: 20%;
}
.btn-group {
	display: flex;
	flex-direction: column;
	border: solid 1px #999999;
	border-radius: 4px;
}
.btn-group button {
	border-bottom: solid 1px #999999;
}
.btn-group button:last-child {
	border-bottom: none;
}
.btn-group button:hover {
	background-color: #f3f3f3;
	transition: ease-out 0.2s;
}
.selected {
	background-color: #ddf2fb;
}
#products-main {
	flex-basis: 75%;
}
